@import '../common/styles/colors';
@import '../common/styles/fonts';

.auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
  height: 100vh;

  h1 {
    color: $color-text-secondary;
    font-size: $font-size-title;
  }

  .box {
    width: 500px;

    button {
      flex: none;
    }
  }
}
